[
	{
		id: 1
		type: "video"
		next: 2
		video: "opening"
		allowSkipping: true
	}
	{
		id: 2
		type: "narrate"
		next: 3
		text: "僖公三十三年"
		background:
			name: "gate_1"
	}
	{
		id: 3
		type: "narrate"
		next: 4
		text: "九月．甲午．"
	}
	{
		id: 4
		type: "narrate"
		next: 5
		text: "晉侯．秦伯．圍鄭．"
	}
	{
		id: 5
		type: "narrate"
		next: 6
		text: "佚之狐言於鄭伯"
		tachies: [
			{
				yizhihu: "normal"
			}
		]
		background:
			name: "yard"
	}
	{
		id: 6
		type: "line"
		next: 7
		role: "yizhihu"
		text: "國危矣．若使燭之武見秦君．師必退．"
	}
	{
		id: 7
		type: "narrate"
		next: 8
		text: "公從之．"
		tachies: []
	}
	{
		id: 8
		type: "line"
		next: 9
		role: "zhuzhiwu"
		text: "辭曰．臣之壯也．猶不如人．今老矣．無能為也已．"
		tachies: [
			{
				zhuzhiwu: "normal"
			}
		]
	}
	{
		id: 9
		type: "line"
		next: 10
		role: "zhengbo"
		text: "公曰．吾不能早用子．今急而求子．是寡人之過也．然鄭亡．子亦有不利焉．"
	}
	{
		id: 10
		type: "narrate"
		next: 11
		text: "許之．夜縋而出．"
		background:
			name: "sky"
	}
	{
		id: 11
		type: "narrate"
		next: 12
		text: "見秦伯"
		tachies: [
			{
				qinbo: "normal"
			}
		]
		bgm: "ridingTheDragon"
	}
	{
		id: 12
		type: "line"
		next: 13
		role: "zhuzhiwu"
		text: "曰秦晉圍鄭．鄭既知亡矣．"
		tachies: [
			{
				zhuzhiwu: "normal"
			}
		]
	}
	{
		id: 13
		type: "line"
		next: 14
		role: "zhuzhiwu"
		text: "若亡鄭而有益於君．敢以煩執事．"
	}
	{
		id: 14
		type: "line"
		next: 15
		role: "zhuzhiwu"
		text: "越國以鄙遠．君知其難也．焉用亡鄭以倍鄰？"
	}
	{
		id: 15
		type: "line"
		next: 16
		role: "zhuzhiwu"
		text: "鄰之厚．君之薄也．"
	}
	{
		id: 16
		type: "line"
		next: 17
		role: "zhuzhiwu"
		text: "若舍鄭以為東道主．行李之往來．共其乏困．君亦無所害．"
	}
	{
		id: 17
		type: "line"
		next: 18
		role: "zhuzhiwu"
		text: "且君嘗為晉君賜矣．許君焦瑕．朝濟而夕設版焉．君之所知也．"
	}
	{
		id: 18
		type: "line"
		next: 19
		role: "zhuzhiwu"
		text: "夫晉何厭之有？既東封鄭．又欲肆其西封．若不闕秦．將焉取之？"
	}
	{
		id: 19
		type: "line"
		next: 20
		role: "zhuzhiwu"
		text: "闕秦以利晉．唯君圖之．"
	}
	{
		id: 20
		type: "line"
		next: 21
		role: "qinbo"
		text: "秦伯說．與鄭人盟．"
		tachies: [
			{
				qinbo: "normal"
			}
		]
		background:
			name: "yard"
	}
	{
		id: 21
		type: "narrate"
		text: "- Fin -"
	}
]