#

infinite_rite:
  displayName: 'Infinite Rite'
  fileName: 'InitiationRite_medquality_stereo_44Khz_128Kbps.ogg'
riding_the_dragon:
  displayName: 'Riding The Dragon'
  fileName: 'RidingTheDragon_medquality_stereo_44Khz_128Kbps.ogg'
