infiniteRite:
  displayName: 'Infinite Rite'
  fileName: 'InitiationRite_medquality_stereo_44Khz_128Kbps.ogg'
ridingTheDragon:
  displayName: 'Riding The Dragon'
  fileName: 'RidingTheDragon_medquality_stereo_44Khz_128Kbps.ogg'
