meta:
  id: 'com.projectyoru.workshopaurora.demo'
  name: 'Project Yoru Aurora Demo'
  version: '0.0.1'
  description: 'Demo app for workshop aurora'
  author:
    name: 'Project Yoru'
    email: 'fake@email.address'
    link: 'https://github.com/project-yoru'
  source: 'https://github.com/project-yoru/aurora-demo-app'
  license: 'MIT'

appearance:
  orientation: 'landscape' # landscape, portrait
  icon: 'icon.png' # base path is repo:resources/images
  # logo: 'logo.png' # base path is repo:resources/images
  # splash_screen:

custom:
  opening:
    bgm: 'infinite_rite'
