# 
# TODO support default fileName, default fileExt, etc..

yizhihu:
  normal:
    type: 'static'
    fileName: 'normal.png'
qinbo:
  normal:
    type: 'static'
    fileName: 'normal.png'
zhuzhiwu:
  normal:
    type: 'static'
    fileName: 'normal.png'
