# 
# TODO support default fileName, default fileExt, etc..

yizhihu:
  default:
    type: 'static'
    fileName: 'default.png'
qinbo:
  default:
    type: 'static'
    fileName: 'default.png'
zhuzhiwu:
  default:
    type: 'static'
    fileName: 'default.png'
